server:
  port: 8081
spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/inventorydb
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        jdbc.time_zone: Asia/Seoul
        format_sql: true
        show_sql: true
