server:
  port: 8080

spring:
    datasource:
      url: jdbc:postgresql://localhost:5432/orderdb
      username: admin
      password: admin
    jpa:
      hibernate:
        ddl-auto: create-drop
      properties:
        hibernate:
          jdbc.time_zone: Asia/Seoul
          format_sql: true
      show-sql: true

clients:
  inventory:
    base-url: http://localhost:8081
